.indicator{
  background-color: #b29000;
  margin-left: 48px;
}
.my-title{
  position: relative;
  bottom: -4px;
  margin-left: 4px;
  vertical-align: center;
}
.my-badge{
  padding: 4px 8px;
  color: white;
  position: relative;
  max-height: 20px;
}
.spacer{
  width: 100%;
}
