<mat-accordion class="example-headers-align" *ngIf="output">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header (click)="toggleIcon()">
      <mat-panel-title>
        <mat-icon>{{icon}}</mat-icon>
        <span class="my-badge output">Output</span>
        <span class="my-title">{{output['name']}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-indicator-tree *ngFor="let indicator of output['indicators']" [indicator]="indicator"></app-indicator-tree>
      <app-output-tree *ngFor="let out of output['outputs']" [id]="out['id']"></app-output-tree>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
