<mat-accordion class="example-headers-align" *ngIf="output">
  <mat-expansion-panel #panelEx hideToggle>
    <mat-expansion-panel-header (click)="toggleIcon()">
      <mat-panel-title>
        <mat-icon>{{icon}}</mat-icon>
        <span class="my-badge output">Output</span>
        <span class="my-title">{{output['name']}}</span>
        <button style="float: right !important;" mat-button (click)="disable(panelEx)">
          <mat-icon >add</mat-icon>
        </button>
      </mat-panel-title>
      <mat-panel-description>
        <span class="spacer"></span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-indicator-tree *ngFor="let indicator of output['indicators']" [indicator]="indicator"></app-indicator-tree>
      <app-activity-tree *ngFor="let activity of output['activities']" [id]="activity['id']" [output_id]="output['id']"></app-activity-tree>
      <app-output-tree *ngFor="let out of output['outputs']" [id]="out['id']"></app-output-tree>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
