.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
}

.my-badge{
  padding: 4px 8px;
  color: white;
  position: relative;
  max-height: 20px;
}
.my-title{
  position: relative;
  bottom: -4px;
  margin-left: 4px;
  vertical-align: center;
}
.output{
  background-color: #15980d;
}
