<div fxLayout="row">
  <div fxFlexFill>
    <ng-container *ngIf="data['type'] === 'project'">
      <mat-toolbar class="program-header">
        Add New Outcome
        <span class="spacer"></span>
        <button  mat-button mat-dialog-close class="close-button">
          <mat-icon > close</mat-icon>
        </button>
      </mat-toolbar>
      <form novalidate #outcomeForm="ngForm" (ngSubmit) = "submit(outcomeForm)">
        <p>
          <mat-form-field class="full-width" *ngIf="timePlans">
            <mat-select name="type" ngModel placeholder="select outcome type">
              <mat-option *ngFor="let plan of timePlans"  [value]="plan['id']">{{plan['name']}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input type="text" name="name" ngModel matInput placeholder="outcome title" required>
          </mat-form-field>
        </p>
        <button mat-raised-button color="primary" type="submit" mat-button class="background-primary text-floral-white" [disabled]="outcomeForm.form.invalid">
          <mat-icon iconsmall>save</mat-icon>
          Save
        </button>
      </form>
    </ng-container>


    <ng-container *ngIf="data['type'] !== 'project'">
      <mat-toolbar style="background-color: white;">
        <span class="spacer"></span>
        <button  mat-button mat-dialog-close class="close-button" style="float: right">
          <mat-icon > close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-tab-group>
        <mat-tab  [label]="'Outcome'">
          <ng-template matTabContent>
            <mat-toolbar class="program-header">
              Add New Outcome
            </mat-toolbar>
            <form novalidate #outcomeForm="ngForm" (ngSubmit) = "submit(outcomeForm)">
              <p>
                <mat-form-field class="full-width" *ngIf="timePlans">
                  <mat-select name="type" ngModel placeholder="select outcome type">
                    <mat-option *ngFor="let plan of timePlans"  [value]="plan['id']">{{plan['name']}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="full-width">
                  <input type="text" name="name" ngModel matInput placeholder="outcome title" required>
                </mat-form-field>
              </p>
              <button mat-raised-button color="primary" type="submit" mat-button class="background-primary text-floral-white" [disabled]="outcomeForm.form.invalid">
                <mat-icon iconsmall>save</mat-icon>
                Save
              </button>
            </form>
          </ng-template>
        </mat-tab>
        <!-- end of outcome tab -->
        <!-- start of output tab -->
        <mat-tab  [label]="'Output'">
          <ng-template matTabContent>
            <mat-toolbar class="program-header">
              Add New Output
            </mat-toolbar>
            <form novalidate #outputForm="ngForm" (ngSubmit) = "submitOutput(outputForm)">
              <p>
                <mat-form-field class="full-width" *ngIf="timePlans">
                  <mat-select name="type" ngModel placeholder="select output type">
                    <mat-option *ngFor="let plan of timePlans"  [value]="plan['id']">{{plan['name']}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="full-width">
                  <input type="text" name="name" ngModel matInput placeholder="output title" required>
                </mat-form-field>
              </p>
              <button mat-raised-button color="primary" type="submit" mat-button class="background-primary text-floral-white" [disabled]="outputForm.form.invalid">
                <mat-icon iconsmall>save</mat-icon>
                Save
              </button>
            </form>
          </ng-template>
        </mat-tab>
        <!-- end of output tab -->
        <!-- start of indicator tab -->
        <mat-tab  [label]="'Indicator'">
          <perfect-scrollbar>
            <ng-template matTabContent>
              <form #indicatorForm="ngForm" novalidate>
                <p>
                  <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Indicator title">
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Type">
                      <mat-option>Quantitative</mat-option>
                      <mat-option>Qualitative</mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="half-width">
                    <input type="text" matInput placeholder="Baseline Value">
                  </mat-form-field>
                  <mat-form-field class="half-width">
                    <input name="start" ngModel matInput [matDatepicker]="starting" placeholder="Baseline Date" required>
                    <mat-datepicker-toggle matSuffix [for]="starting"></mat-datepicker-toggle>
                    <mat-datepicker #starting></mat-datepicker>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="half-width">
                    <input type="text" matInput placeholder="Target Value">
                  </mat-form-field>
                  <mat-form-field class="half-width">
                    <input name="end" ngModel matInput [matDatepicker]="ending" placeholder="Target Date" required>
                    <mat-datepicker-toggle matSuffix [for]="ending"></mat-datepicker-toggle>
                    <mat-datepicker #ending></mat-datepicker>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="half-width">
                    <mat-select placeholder="Measuring Unit" required>
                      <mat-option>percentage</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="half-width">
                    <mat-select placeholder="Frequency" required>
                      <mat-option>yearly</mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Primary Source Of Data" required>
                  </mat-form-field>
                </p>
                <button mat-raised-button color="primary" type="submit" mat-button class="background-primary text-floral-white" [disabled]="indicatorForm.form.invalid">
                  <mat-icon iconsmall>save</mat-icon>
                  Save
                </button>
              </form>
            </ng-template>
          </perfect-scrollbar>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </div>
</div>
