.half-width{
  width: 48%;
  margin: 0 1%;
}
.full-width{
  width: 98%;
  margin: 0 1%;
}
.background-primary{
  float: right !important;
  margin: 1em 0;
  margin-right: 2em;
}
.close-button{
  cursor: pointer;
  background: transparent !important;
}
