<div fxLayout="row" fxLayout.xs="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
  <div fxFlexFill>
    <mat-accordion class="example-headers-align" *ngIf="project">
      <mat-expansion-panel [expanded]="step === 0" hideToggle>
        <mat-expansion-panel-header (click)="toggleIcon()">
          <mat-panel-title >
            <mat-icon>{{icon}}</mat-icon>
            <span class="my-badge project">Project</span>
            <span class="my-title">{{project['name']}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-outcome-tree *ngFor="let outcome of project.outcomes" [id]="outcome.id">{{outcome['name']}}</app-outcome-tree>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
