.fader{
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}
.mainPanel{
  padding: 100px;
}
.footer-div>button{
  color: white;
  font-size: 20px;
}
.footer-div>button:focus{
  border: none;
}
