<div fxLayout="column" fxLayoutAlign="center">
    <mat-toolbar color="primary"><span>About Us</span></mat-toolbar>
    <div fxFlex="50%">
        <mat-card style="margin-bottom: 50px;">
          <mat-card-content>
             <p style=" font-size: 20px;text-align: justify; text-justify: inter-word;">
                Vita is an Irish development partner, which works with communities in Africa to fight hunger and climate change.
             </p>
             <p style=" font-size: 20px;text-align: justify; text-justify: inter-word;">
                Our mission is to achieve thriving rural economies in Africa with access to services, markets and livelihoods for all.
             </p>
             <mat-card-title>Our Approach and Values</mat-card-title>
             <p style=" font-size: 20px;text-align: justify; text-justify: inter-word;">
                Our values revolve around inclusion, enablement, sustainability and accountability and this is imbedded into every aspect of our work. Our community led approach to projects ensures that nobody is left behind. Our ethos is to enable people to manage their own development, while we support them to achieve sustainable livelihoods. 
             </p>
          </mat-card-content>
          <mat-card-actions>
            
          </mat-card-actions>
        </mat-card>
        <button mat-raised-button color="accent" (click)="closeDialog()">Close</button>
      </div>
</div>
